body {
	font-family: 'Rubik', sans-serif;
	background-color: #D8EEFE;
	color: #094067;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

button {
	cursor: pointer;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
}

button:hover {
	-webkit-box-shadow: 0px 10px 13px -7px #cacee0, 5px 5px 15px 5px rgba(148, 147, 147, 0); 
	box-shadow: 0px 10px 13px -7px #cacee0, 5px 5px 15px 5px rgba(148, 147, 147, 0);
}

button:focus {
	outline: none;
}

h1 {
	font-weight: bold;
	padding-top: 63px;
	padding-bottom: 42px;
}

h2 {
	margin: 0;
}

a {
	text-decoration: none;
}

main header p {
	color: #594a4e;
}

p {
	margin: 0;
}

section {
	background-color: white;
	padding: 10px;
	gap: 5px;
	border-radius: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

label {
	margin: 0;
}

input {
	font-family: 'Rubik', sans-serif;
	background-color: #D8EEFE;
	font-size: 18px;
	border: none;
	padding-left: 20px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 14px;
	border-radius: 5px;
}

input:focus {
	outline: none;
}

.call-to-action {
	background-color: #EF4565;
	color: white;
	border: none;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 14px;
	padding-left: 18px;
	padding-right: 18px;
}

.resetSearch {
	background-color: blue;
	color: #fff;
	border: none;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 14px;
	padding-bottom: 14px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.article-app {
	display: grid;
	gap: 20px;
}

.formSearch {
	padding-bottom: 47px;
}

.labelSearch {
	padding-bottom: 13px;
}

.addList:hover {
	color: white;
}

.wrapper-actions {
	display: grid;
	gap: 10px;
}

.actions button {
	background-color: white;
	border: none;
}

.edit {
	color: blue;
}

.delete {
	color: red;
}

@media (min-width: 750px) {
	.actions {
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}
}

img {
	max-width: 100%;
	width: 100px;
}
svg {
	width: 30px;
	max-width: 100%;
}

footer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #B9BDCF;
}

footer a {
	color: rgb(104, 104, 212);
}


fieldset {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	border: none;
	display: flex;
	flex-direction: column;
}

select {
	font-weight: 500;
	font-size: 18px;
}

.person-list {
	display: grid;
	grid-template-columns: 2fr auto;
	padding-top: 22px;
	padding-bottom: 22px;
}

.item-about {
	display: flex;
	flex-direction: column;
	gap: 39px;
	align-items: flex-start;
}


.personName {
	text-transform: capitalize;
	font-weight: 500;
	font-size: 18px;
	color: black;
	padding-bottom: 10px;
}

.personAge {
	color: #5F6C7B;
	font-weight: 500;
}

.age {
	color: #EF4565;
}

.date {
	color: #5F6C7B;
	font-weight: 500;
}

.outerPopup {
	background: rgba(255, 255, 255, 0.8);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: grid;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .5s;
    left: 0;
}

.outerPopup.open {
    opacity: 1;
    pointer-events: all;
}

.innerPopup {
	padding: 0;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s;
    margin: auto;
}

label {
	font-weight: 500;
}

.filteringSeacrh {
	padding-left:20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 14px;
	width:  100%;
	border: none;
	background-color: #ffff;
}


.filteringSeacrh:focus {
	outline: none;
}

input.filteringSeacrh::placeholder {
	color: #5F6C7B;
	font-weight: 500;
}

select.filteringSeacrh {
	color: #5F6C7B;
	font-weight: 500;
	margin: 0;
	border-radius: 5px;
}

.wrapper-content {
	display: flex;
	flex-direction: column;
	padding: 30px;
	padding-top: 10px;
}

.wrapper-content-button {
	display: grid;
	text-align: center;
	height: 300px;
}

.information {
	padding-bottom: 30px;
}

.title {
	padding-bottom: 20px;
}

.wrapper {
	background-color: white;
	padding: 1rem;
    position: fixed;
    height: 350px;
	max-height: 100%;
	width: 80%;
	transition: all 0.25s;
	top: 10%;
	left: 10%;
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

	pointer-events: none;
	--opacity: 0;
	opacity: var(--opacity);
	font-weight: 500;
	border-radius: 5px;
}

.button-wraper {
	display: flex;
	gap: 30px;
}

.saveButton {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
}

.cancelButton {
	background-color: transparent;
	padding-top: 15px;
	padding-bottom: 14px;
	padding-left: 20px;
    padding-right: 20px;
	color: #000;
	border-radius: 5px;
	border: 2px solid #5F6C7B;
}

.cancel-button {
	border: none;
	align-self: flex-end;
	background-color: transparent;
	width: fit-content;
    height: fit-content;
}

.cancel-button:hover {
	box-shadow: none;
}

.cancel-button:focus {
	outline: none;
}

.form-btn {
	display: flex;
	max-width: 50%;
	gap: 20px;
}

@media (min-width: 650px) {
	.container {
		padding-left: 58px;
		padding-right: 58px;
		max-width: 779px;
		margin: 0 auto;
	}

	.item-about {
		flex-direction: row;
		align-items: center;
	}

	h1 {
		font-size: 64px;
	}

	.innerPopup {
		width: 70%;
	}

	.wrapper-content {
		max-width: 70%;
		margin: auto;
	}

	.personAge {
		font-size: 24px;
	}

	.persoName {
		font-size: 36px;
	}

	.date {
		font-size: 24px;
	}

	.formSearch {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 34px;
	}

	.inputSearch {
		padding: 0;
		max-width: 35%;
	}

	.person-list {
		padding-left: 43px;
		padding-right: 25px;
	}

	.form-btn {
		flex-direction: row;
		max-width: 100%;
	}

	.modalForm > * {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	.resetSearch {
		margin: 0;
	}

	.cancel-button {
		margin: 0;
	}
}

@media (min-width: 1140px) {
	.container {
		padding: 0;
	}

	.inputSearch {
		width: 40%;
	}
}

.wrapper.open {
	--opacity: 1;
	pointer-events: all;
}